* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

div {
    text-align: center;
    padding: 10px;
}

.paint {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: 70%;
    position: relative;
}

canvas {
    border: 1px solid #aaa;
    position: absolute;
    left: 0;
    top: 0;
}

#info {
    font-size: 1.3em;
}

input, button {
    padding: 2px;
    margin: 5px 0;
    vertical-align: baseline;
}

button {
    margin: 5px;
}