@font-face {
    font-family: nasalization;
    src: local("nasalization"), url(../../fonts/nasalization.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nasalization;
}

body {
    background-color: #313431;
    color: #eee;
}

div {
    text-align: center;
    margin: 10px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.controls {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.controls .container>* {
    flex-grow: 1;
}

.root {
    margin-bottom: 25px;
}

textarea {
    width: 90%;
    resize: vertical;
    display: block;
    margin: 15px auto;
    padding: 5px;
    font-family: monospace;
    font-size: 1.3em;
}

.over {
    background: #eee;
    box-shadow: 0 0 5px 3px #fff;
}

#csvInputTrain {
    height: 300px;
}

#csvInputTest {
    height: 200px;
}

input, button {
    padding: 2px;
    margin: 5px 0;
    vertical-align: baseline;
}

input[type="number"] {
    width: 70px;
}

button {
    margin: 5px 15px;
}

.info {
    font-size: 1.3em;
}

#predicted {
    text-align: left;
    font-size: 1.1em;
}

.error {
    color: rgb(245, 83, 83);
}

input {
    padding: 5px 10px;
    margin: 5px;
    font-size: 1em;
}

.btn {
    padding: 5px 15px;
    background-color: #eee;
    border: none;
    font-family: nasalization;
    font-size: 1em;
    font-weight: bold;
    color: #313431;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all .4s;
    border: 1px solid #eee;
}

.btn:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #313431;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 0;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transition: all .45s;
}

.btn:hover {
    color: #eee;
}

.btn:hover:before {
    height: 600%;
}

.btn span {
    position: relative;
    z-index: 1;
}

#backBtn {
    padding: 8px 20px;
    font-size: 1.3em;
}