* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.controls {
    text-align: center;
}

#csv_input {
    width: 80%;
    height: 300px;
    display: block;
    margin: 15px auto;
    padding: 5px;
}