.tree {
	padding: 20px;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	display: flex;
	justify-content: center;
}

.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 2px solid #bbb;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 2px solid #bbb;
}

/*We need to remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/

.tree li:only-child {
	padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/

.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
	box-shadow: none;
}

/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
	border-right: 2px solid #bbb;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 2px solid #bbb;
	width: 0;
	height: 20px;
	/* box-shadow: -2px 0 5px 0px green, 2px 0 5px 0px red; */
}

.tree li span {
	position: relative;
	z-index: 10;
	background: #fff;
	border: 1px solid #bbb;
	padding: 5px 10px;
	margin: 0 5px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 16px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	box-shadow: 0 -5px 5px -5px #333;
}

.tree span.parameter {
	border: 1px solid #555;
	color: #444;
	box-shadow: 0 5px 5px -5px #444;
}

.tree li.path>span, .tree li.path:not(.root)>ul>li>span {
	background: #c8e4f8;
	color: #000;
	border: 2px solid #94a0b4;
}

/*Time for some hover effects*/

/*We will apply the hover effect the the lineage of the element also*/

.tree li span:hover, .tree li span:hover+ul li span {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}

/*Connector styles on hover*/

.tree li span:hover+ul li::after, .tree li span:hover+ul li::before, .tree li span:hover+ul::before, .tree li span:hover+ul ul::before {
	border-color: #94a0b4;
}