* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    margin: 10px;
}

canvas {
    margin: 10px;
    border: 1px solid #000;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#canvas {
    cursor: crosshair;
    background-image: url(../grid.png);
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

#cnv28x28 {
    width: 280px;
    height: 280px;
    /* display: none; */
}

#answer {
    font-size: 2.3em;
}

.controls {
    margin-top: 15px;
}

#dropbox {
    margin: 20px auto;
    border: 2px solid #c33;
    width: 350px;
    max-width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}