* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input-size {
    margin: 20px;
}

.main-block {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    outline: 3px solid green;
}

.block {
    width: 100px;
    height: 100px;
}

.right-bottom-borders {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.right-borders {
    border-right: 3px solid black;
}
.bottom-borders {
    border-bottom: 3px solid black;
}